@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #323e55;
  color: white;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  height: 15rem;
  width: 15rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}

.card img {
  height: 100%;
  width: 100%;
}

.card:hover .details {
  opacity: 1;
  height: 100%;
}

.details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.5s ease;
}

.details h3 {
  font-size: 18px;
  font-weight: 600;
}

.details p {
  margin: 2px 0;
  font-size: 12px;
  font-style: italic;
}

.social-icons {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons li a {
  color: #75e44f;
}
