/* Import font */
@import url('http://fonts.googleapis.com/css?family=Roboto');
:root {
  --face-font-size: 100px; /* Change this to set face-size */
}
/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(50, 62, 85);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* General styles end */

.face {
  position: relative;
  width: calc(var(--face-font-size) * 3);
  height: calc(var(--face-font-size) * 3);
  border-radius: 50%;
  background: #ffcd00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face::before {
  content: '';
  position: absolute;
  top: calc(var(--face-font-size) * 1.8);
  width: calc(var(--face-font-size) * 1.5);
  height: calc(var(--face-font-size) * 0.7);
  background: #b57700;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.face:hover::before {
  top: calc(var(--face-font-size) * 2.1);
  width: calc(var(--face-font-size) * 1.5);
  height: calc(var(--face-font-size) * 0.2);
  background: #b57700;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.eyes {
  position: relative;
  top: calc(var(--face-font-size) * -0.4);
  display: flex;
}

.eyes .eye {
  position: relative;
  width: calc(var(--face-font-size) * 0.8);
  height: calc(var(--face-font-size) * 0.8);
  display: block;
  background: #fff;
  margin: 0 calc(var(--face-font-size) * 0.15);
  border-radius: 50%;
}

.eyes .eye::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(var(--face-font-size) * 0.25);
  transform: translate(-50%, -50%);
  width: calc(var(--face-font-size) * 0.4);
  height: calc(var(--face-font-size) * 0.4);
  background: #333;
  border-radius: 50%;
}
